#stonePanel.rotated {
  padding-top: 1rem;
  padding-bottom: 1rem;
  img {
    transform: rotateZ(90deg);
    max-width: 20%;
    padding: 0.2rem;
    height: 70px;
  }
}
#buttonPanel{
  img{
    max-width: 15%;
  }
}

#frontView, #sideView{
  max-height: 300px;
  height: 20rem;
}

#frontView, #sideView, #topView {
  width: 100%;
  border: 1px solid #000000
}