#course-container {
  .cell {
    .inner {

      padding: 0.5rem;
      margin: 0.3rem;

      background: #9c9c9c;
      color: #fff;

      .icon {
        width: 100%;
      }

      .name {
        text-align: center;
      }
    }

    &.activated .inner{
      cursor: pointer;
      background: $navBackgroundDefault;
      color: $navColorDefault;
    }
  }
}