#edit-exercise-form {
  .grid-x.child-padding > .column {
    padding: 0.5rem;
  }

  .generator-half {
    @include grid-column(12);
  }

  &.generated {
    .generator-half {
      @include grid-column(6);
    }

    .generator-hidden {
      display: none;
    }
  }

  &:not(.generated) {
    .generator-visible {
      display: none;
    }
  }

}