.definition-link{
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.definition{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  + .definition{
    border-top: 1px solid #808080;
  }

  .key {
    margin-bottom: 0;
  }

  .keywords{
    font-style: italic;
    font-size: 0.8em;
  }

  .description {
    padding-left: 0.5rem;
  }

  .image-container{
    .image{
      max-width: 4rem;
    }
    .image-description{
      display: block;
    }
  }

  margin-bottom: 0.5rem;
}