.textToSpeech{
  .ttsButton{
    width: 0.9em;
    cursor: pointer;
    margin-left: 0.2em;
    //vertical-align: baseline;
  }

  &.speaking .tts-text{
    background-color: rgb(205, 205, 205);
  }
}