<form id="edit-exercise-form">
    <p class = "generator-visible" id = "variable-explanation"></p><br/>
    <div class="grid-x child-padding">
        <span class="column small-12">
            <label>
                <input type="text" name="exercise-name" required>
                <span class="translation">name</span>
            </label>
        </span>
        <span class="column small-12">
            <label>
                <span class="translation">Course</span>
                <select class="form-control" name="course" required id='article-course'>
                </select>
            </label>
        </span>
    </div>
    <div id="value-container">
        <span class="value-row grid-x child-padding" id="number-template">
            <span class="generator-half">
                <label>
                    <input type="number" class="min notEmpty" value="0" required>
                    <span class="min-heading">
                        <span class="translation generator-visible">min</span>
                    </span>
                </label>
            </span>
            <span class="generator-half generator-visible">
                <label>
                    <input type="number" class="max notEmpty" value="10">
                    <span class="max-heading">
                        <span class="translation">max</span>
                    </span>
                </label>
            </span>
        </span>
        <span class="value-row" id="text-template">
            <label>
                <textarea class="text" required></textarea>
                <span class="text-heading"></span>
            </label>
        </span>
        <span class="value-row" id="selection-template">
            <span class="selection-heading"></span>
            <label class="generator-hidden">
                <select class="form-control selection-element">
                </select>
            </label>
            <label class="generator-visible value-of-checkbox">
                <input type="checkbox" class="checkbox" checked>
                <span class="checkbox-heading"></span>
            </label>
        </span>
        <span class="value-row" id="hidden-template">
            <input type="hidden" class="hidden-value">
        </span>
        <span class="value-row generator-hidden grid-x" id="image-template">
            <input type="hidden" class="image-before" value="">
            <label class="small-8">
                <span class="image-heading"></span>
                <input type="file" accept="image/*" class="image-element">
            </label>
            <img class="small-4 preview-image">
        </span>
    </div>
    <label>
        <input type="checkbox" name="generate-exercise" value="1" id="generate-exercise-checkbox">
        <span class="translation">generate exercise</span>
    </label>
    <button class="translation button">save</button>
</form>