<article class="grid-x">
    <div class="column small-8 medium-7 large-6">
        <section>
            <form id="article-name-form">
                <label><input class="form-control" name="name" required id='article-name'><span
                        class="translation">Name</span></label>
                <label>
                    <span class="translation">Course</span>
                    <select class="form-control" name="course" required id='article-course'>
                    </select>
                </label>
            </form>
        </section>
        <div id='exercise-editor'>

        </div>
        <!--<label>-->
        <!--<select id='new-article-select'>-->
        <!--<option value='' selected class="translation">New Element</option>-->
        <!--<option value='element-text' class="translation">element-text</option>-->
        <!--&lt;!&ndash;<option value='element-text-input' class="translation">element-input</option>&ndash;&gt;-->
        <!--<option value='element-picture' class="translation">element-picture</option>-->
        <!--<option value='element-wall-length-exercise' class="translation">element-wall-length-exercise</option>-->
        <!--</select>-->
        <!--</label>-->

        <button id='save-article' class="button translation">Save</button>
    </div>
    <div class="column small-4 medium-5 large-6" id="previev-container"></div>
</article>