<article>
    <section>
        <br/>
        <br/>
        <form class="entity-form">
            <div class="grid-x">
                <label class="columns small-12">
                    <input type="text" name='name' required>
                    <span class="translation">Name</span>
                </label>
            </div>
            <div class="grid-x">
                <label class="columns small-12">
                    <span class="translation">description</span>
                    <textarea name='description' class="editor"></textarea>
                </label>
            </div>
            <div class="grid-x">
                <button class="translation button">send</button>
            </div>
        </form>
    </section>
</article>