<form id = "generator-form">
    <div class="grid-x child-padding">
        <span class="column small-6">
            <label>
                <input type="text" name="exercise-name" required>
                <span class="translation">name</span>
            </label>
        </span>
        <span class="column small-6">
            <label>
                <input type="number" name="exercise-number" class="notEmpty" value = "1" required>
                <span class="translation">number of exercises</span>
            </label>
        </span>
    </div>
    <div id="value-container">
        <span class="value-row grid-x child-padding" id="number-template">
            <span class="small-6 column">
                <label>
                    <input type="number" class="min notEmpty" value = "0" required>
                    <span class="min-heading">
                        <span class="translation">min</span>
                    </span>
                </label>
            </span>
            <span class="small-6 column">
                <label>
                    <input type="number" class="max notEmpty" value="10" required>
                    <span class="max-heading">
                        <span class="translation">max</span>
                    </span>
                </label>
            </span>
        </span>
        <span class="value-row" id = "text-template">
            <label>
                <textarea class="text" required></textarea>
                <span class="text-heading"></span>
            </label>
        </span>
        <span class="value-row" id = "checkbox-template">
            <label class="value-of-checkbox">
                <input type="checkbox" class="checkbox" checked>
                <span class="checkbox-heading"></span>
            </label>
        </span>
    </div>
    <button class="translation button">generate</button>
</form>