<article id="course-container" class="grid-x small-up-1 medium-up-2 large-up-3">
    <section id="course-template" class="cell">
        <div class="inner">
            <img class="icon">
            <div class="name"></div>
        </div>
    </section>
</article>