<div id = "article-container" class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-4 large-up-6">
    <div id = "article-template" class="cell exercise-tile">
        <button class="exercise-tile-content button">
            <span class = "name"></span>
        </button>
    </div>
</div>