<article>
    <br>
    <br>
    <br>
    <div id="exercise-statistic"></div>
    <br>
    <div id="user-statistic"></div>
    <br>
    <div id="wrong-answer-per-exercise-statistic"></div>
    <br>
    <div id="wrong-answer-per-day-statistic"></div>
</article>