<section class='element' data-type="element-video">
    <form>
        <div>
            <label>
                <span class="translation" data-translation-title=>video audiodescripted</span>
                <input type="file" accept="video/*" name='element-video-audiodescripted-src' required>
            </label>
        </div>
        <div>
            <label>
                <span class="translation" data-translation-title=>video</span>
                <input type="file" accept="video/*" name='element-video-src' >
            </label>
        </div>
        <label>
            <input type="text" name='element-video-alternative-text' required>
            <span class="translation">alternative-text</span>
        </label>
        <label>
            <input type="text" name='element-video-fulltext' required>
            <span class="translation">fulltext</span>
        </label>
        <div>
            <label>
                <span class="translation" data-translation-title=>subtitles</span>
                <input type="file" accept="text/plain" name='element-video-subtitles' required>
            </label>
        </div>
    </form>
</section>