<section class='element' data-type="element-build-wall-dimension">
    <form>
        <div style="border:1px; background-color: #9b9b9b; padding: 20px">
            <span>Länge und Breite der Wand angeben</span>
        </div>
        <label>
            <textarea name='exercise-description' required></textarea>
            <span class="translation">exercise-description</span>
        </label>
        <label>
            <input type="number" name='exercise-length-wall' required>
            <span class="translation">Length of the Wall</span>
        </label>
        <label>
            <input type="number" name='exercise-breadth-wall' required>
            <span class="translation">Breadth of the Wall</span>
        </label>
    </form>
</section>