<section class='element' data-type="element-build-wall-exercise">
    <span> Lege die erste Schicht der Mauer</span>
    <div>
        <div id="title" class="grid-x">
             <span id="ausrichtung" class="small-12 medium-2 right">Ausrichtung<br/>
                <img id="small1" src='../../img/Alignment/small1.png'/>
                <img id="small2" src='../../img/Alignment/small2.png'/>
                <img id="small3" src='../../img/Alignment/small3.png'/>
                <img id="big1" src='../../img/Alignment/big1.png'/>
                <img id="big2" src='../../img/Alignment/big2.png'/>
                <img id="big3" src='../../img/Alignment/big3.png'/>
            </span>
            <span class="small-8 medium-7">Vorderansicht<br/>
                <canvas id="frontView"></canvas></span>
            <span class="small-4 medium-3">Seitenansicht<br/>
                <canvas id="sideView"></canvas>
            </span>
        </div>
        <div>
            <span>Draufsicht</span>
            <canvas id="topView" class="width-100"></canvas>
            <!--            <label id="space_counter" style="width:100%;height:3%" ;></label>-->
        </div>
        <div>
            <div id="stonePanel">
                <img id="whole-stone" class="draggable" draggable="true" src='../../img/stones/stone.png'/>
                <img id="three-quarter-stone" class="draggable" draggable="true" src='../../img/stones/stone34.png'/>
                <img id="half-stone" class="draggable" draggable="true" src='../../img/stones/stone12.png'/>
                <img id="quarter-stone" class="draggable" draggable="true" src='../../img/stones/stone14.png'/>
            </div>
            <div id="buttonPanel">
                <img id="cement" src='../../img/cement.png'/>
                <img id="rotate" src='../../img/rotate1.png'/>
<!--                <img id="info" src='../../img/help.png'/>-->
<!--                <img id="minus" src='../../img/minus.png'/>-->
                <img id="validate" src='../../img/maintenance.png'/>
                <img id="revert" src='../../img/minus.png'/>
            </div>

        </div>
    </div>
</section>