<section class='element' data-type="element-wall-length-exercise">
    <form>
        <label>
            <textarea name='exercise-description' required></textarea>
            <span class="translation">exercise-description</span>
        </label>
        <div>
            <label>
                <span class="translation" data-translation-title="photo" data-translation-args='["42"]'>Photo</span>
                <input type="file" accept="image/*" name='exercise-image' required>
            </label>
        </div>
        <label>
            <input type="text" name='exercise-image-description' required>
            <span class="translation">description</span>
        </label>
        <label>
            <input type="number" name='exercise-num-whole-stone' required>
            <span class="translation">number whole stone</span>
        </label>
        <label>
            <input type="number" name='exercise-num-three-quarter-stone' required>
            <span class="translation">number three quarter stone</span>
        </label>
        <label>
            <input type="number" name='exercise-num-half-stone' required>
            <span class="translation">number half stone</span>
        </label>
        <label>
            <input type="number" name='exercise-num-quarter-stone' required>
            <span class="translation">number quarter stone</span>
        </label>
        <label>
            <input type="number" name='exercise-num-stones-sideways' required>
            <span class="translation">number stones sideways</span>
        </label>
    </form>
</section>