<section class='element' data-type="element-picture">
    <button class='remove right'>X</button>
    <form>
        <div>
            <label>
                <span class="translation">Photo</span>
                <input type="file" name='source' required class="element-picture-picture-input">
            </label>
        </div>
        <label>
            <input type="text" name='description' required class="element-picture-description-input">
            <span class="translation">description</span>
        </label>
    </form>
</section>