<section class='element' data-type="element-wall-length-eight-exercise">
    <form>
        <label>
            <textarea name='exercise-description' required></textarea>
            <span class="translation">exercise-description</span>
        </label>
        <div>
            <label>
                <span class="translation" data-translation-title="photo">Photo</span>
                <input type="file" accept="image/*" name='exercise-image' required>
            </label>
        </div>
        <label>
            <input type="text" name='exercise-image-description' required>
            <span class="translation">description</span>
        </label>
        <label>
            <input type="number" name='exercise-num-heads' required>
            <span class="translation">number eight meters</span>
        </label>
        <label>
            <span class="translation">Welches Maß soll berechnet werden?</span>
            <select class="form-control" name="mass-to-calculate" required>
                <option value="aussenmass" class="translation">Außenmaß</option>
                <option value="oeffnungsmass" class="translation">Öffnungsmaß</option>
                <option value="anbaumass" class="translation">Anbaumaß</option>
            </select>
        </label>
    </form>
</section>