<article>
    <section>
        <br/>
        <form class="grid-x definition-input-form">
            <div class="column small-6">
                <label>
                    <input name="key" class="form-control" required>
                    <span class="translation">key</span>
                </label>
            </div>
            <div class="small-6">
                <label>
                    <span class="translation">Image</span>
                    <input name="image" type="file" class="form-control">
                </label>
            </div>
            <div class="column small-6">
                <label>
                    <input name="keywords" class="form-control">
                    <span class="translation">keywords</span>
                </label>
            </div>
            <div class="small-6">
                <label>
                    <input name="image-description" class="form-control">
                    <span class="translation">Image-description</span>
                </label>
            </div>
            <div class="column small-12 ">
                <label>
                    <textarea name="description" required></textarea>
                    <span class="translation">description</span>
                </label>
            </div>

            <div class="small-12 flex-container">
                <label class="grow">
                    <button class="translation button width-100">save</button>
                </label>
                <label class="access-admin">
                    <input type="checkbox" name="save-for-all" value="1">
                    <span class="translation">save for all</span>
                </label>
            </div>
        </form>
    </section>
</article>