<article>
    <section>
        <form class="grid-x definition-input-form">
            <div class="column small-6">
                <label>
                    <input name="key" class="form-control" required>
                    <span class="translation">key</span>
                </label>
                <label>
                    <input name="keywords" class="form-control">
                    <span class="translation">keywords</span>
                </label>
            </div>
            <div class="column small-6">
                <label>
                    <span class="translation">Image</span>
                    <input name="image" type="file" class="form-control">
                </label>
                <label>
                    <input name="image-description" class="form-control">
                    <span class="translation">Image-description</span>
                </label>
            </div>
            <div class="column small-12 ">
                <label>
                    <textarea name="description" required></textarea>
                    <span class="translation">description</span>
                </label>
            </div>

            <label>
                <button class="translation button width-100">save</button>
            </label>
        </form>
    </section>
</article>