<div class="calculator">
    <p class="answer"></p>
    <div type="number" class="equation"></div>
    <div class="grid-x">
        <div class = "columns small-8 grid-x">
            <div class="columns small-4 grid-y">
                <div class="columns calculator-button small-3" data-value="7">7</div>
                <div class="columns calculator-button small-3" data-value="4">4</div>
                <div class="columns calculator-button small-3" data-value="1">1</div>
                <div class="columns calculator-button small-3" data-value=",">,</div>
            </div>
            <div class="columns small-4 grid-y">
                <div class="columns calculator-button small-3" data-value="8">8</div>
                <div class="columns calculator-button small-3" data-value="5">5</div>
                <div class="columns calculator-button small-3" data-value="2">2</div>
                <div class="columns calculator-button small-3" data-value="0">0</div>
            </div>
            <div class="columns small-4 grid-y">
                <div class="columns calculator-button small-3" data-value="9">9</div>
                <div class="columns calculator-button small-3" data-value="6">6</div>
                <div class="columns calculator-button small-3" data-value="3">3</div>
                <div class="columns calculator-button small-3 result-button">=</div>
            </div>
        </div>
        <div class="columns small-2 grid-y">
            <div class="columns calculator-button auto">&nbsp;</div>
            <div class="columns calculator-button auto" data-value="+">+</div>
            <div class="columns calculator-button auto" data-value="&times;">&times;</div>
            <div class="columns calculator-button auto" data-value="(">(</div>
        </div>
        <div class="columns small-2 grid-y">
            <div class="columns calculator-button auto delete-input">CE</div>
            <div class="columns calculator-button auto" data-value="-">-</div>
            <div class="columns calculator-button auto" data-value="&divide;">&divide;</div>
            <div class="columns calculator-button auto" data-value=")">)</div>
        </div>
    </div>
</div>