<form id = "save-storybook-form">
    <div class="grid-x child-padding">
        <span class="column small-12">
            <label>
                <input type="text" name="name" required>
                <span class="translation">name</span>
            </label>
        </span>
        <span class="column small-12">
            <label>
                <span class="translation">Course</span>
                <select class="form-control" name="course" required id='article-course'>
                </select>
            </label>
        </span>
    </div>
    <button class="translation button">save</button>
</form>