<div class="wrong-answer-container">
    <div class="grid-x">
        <span class="small-6"><b class="translation">Given:</b></span>
        <span class="small-6"><b class="translation">Expected:</b></span>
    </div>
    <div class="grid-x" id = "wrong-answer-template">
        <span class="small-6 given"></span>
        <span class="small-6 expected"></span>
    </div>
</div>