<article class="calculation-fragment">
    <section class="number-count-section">
        <h5 class="translation textToSpeech">how often do you need</h5>
        <form class="number-stones-form">
            <div class="number-stones-container">
            <label class="number-element-template grid-x">
                <span class="column small-8 medium-5 large-4 textToSpeech stone-name"></span>
                <input type="number" class="column small-4 stone-number" min="0" name="exercise-num-whole-stone">
            </label>
            </div>
            <button class="button translation">check</button>
        </form>
    </section>
    <section class="multiplier-section hidden">
        <hr>
        <h5 class="translation textToSpeech ">please put in the missing values</h5>
        <form class="multiplier-form">
            <label class="multiplier-element multiplier-element-template">
                <div class="stone-type textToSpeech "></div>
                <div class="grid-x">
                    <div class="column small-2">
                        <input type="number" class="number-stones" min="0">
                    </div>
                    <div class="column small-1">
                        <span class="multiplies">x</span>
                    </div>
                    <div class="column small-4 single-stone-length">
                        <span data-view="./numberUnitInput.html"></span>
                    </div>
                    <div class="column small-1">
                        <span class="equals">=</span>
                    </div>
                    <div class="column small-4 combined-stone-length">
                        <span data-view="./numberUnitInput.html"></span>
                    </div>
                </div>
            </label>
        </form>
    </section>
    <section class="addition-section hidden">
        <hr>
        <h5 class="translation textToSpeech ">please calculate the lengths</h5>
        <div class="addition-container">
            <form class="addition-element first-row">
                <label class="grid-x">
                    <div class="column small-3 grid-x">
                        <div class="column small-2">&nbsp;</div>
                        <div class="column small-10 name vertical-bottom textToSpeech "></div>
                    </div>
                    <div class="column small-9 grid-x">
                        <div class="column small-5 stone-length">
                            <span data-view="./numberUnitInput.html"></span>
                        </div>
                        <div class="column small-7 grid-x">
                            <div class="column small-3">
                                &nbsp;
                            </div>
                            <div class="column small-9 result">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </label>
            </form>
            <form class="hidden addition-element addition-row-template">
                <label class="grid-x">
                    <div class="column small-3 grid-x">
                        <div class="column small-2 vertical-bottom">
                            <span class="added">+</span>
                        </div>
                        <div class="column small-10 name  textToSpeech vertical-bottom"></div>
                    </div>
                    <div class="column small-9 grid-x">
                        <div class="column small-5 stone-length">
                            <span data-view="./numberUnitInput.html"></span>
                        </div>
                        <div class="column small-7 grid-x">
                            <div class="column small-3">
                                <span class="equals">=</span>
                            </div>
                            <div class="column small-9 result">
                                <span data-view="./numberUnitInput.html"></span>
                            </div>
                        </div>
                    </div>
                </label>
            </form>
        </div>
    </section>
    <section class="done-section hidden">
        <hr>
        <h2 class="translation textToSpeech ">You have solved the exercise. Well done!</h2>
    </section>
</article>