<section>
    <p class="exercise-description textToSpeech "></p>
    <img class='exercise-image'>
    <p class='exercise-image-description image-description textToSpeech '></p>
</section>
<section>
    <div class="exercise-understood-exercise-question textToSpeech "></div>
    <!--<form>-->
    <div class="horizontal-center">
        <span>
            <label>
                <input type="radio" value="0" name='exercise-understood-exercise-correct'>
                <span class="exercise-understood-exercise-answer-1 textToSpeech "></span>
            </label>
            <label>
                <input type="radio" value="1" name='exercise-understood-exercise-correct'>
                <span class="exercise-understood-exercise-answer-2 textToSpeech "></span>
            </label>
            <label>
                <input type="radio" value="2" name='exercise-understood-exercise-correct'>
                <span class="exercise-understood-exercise-answer-3 textToSpeech "></span>
            </label>
            <label>
                <input type="radio" value="3" name='exercise-understood-exercise-correct'>
                <span class="exercise-understood-exercise-answer-4 textToSpeech "></span>
            </label>
        </span>
    </div>
    <button class="width-100 button start-exercise-button translation">start exercise</button>
    <!--</form>-->
</section>