<span class="number-unit-input flex-container flex-dir-row width-100">
    <input type="number" min="0" step="any" class="number grow"/>
    <select class="unit">
        <option value="0.1" class="translation">mm</option>
        <option value="1" class="translation">cm</option>
        <option value="10" class="translation">dm</option>
        <option value="100" class="translation">m</option>
        <option value="100000" class="translation">km</option>
    </select>
</span>